/*https://coolors.co/969a97-ced0ce-dee5e5-7bdff2-545e56*/
.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #545E56;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
